/*-----------------------------------------
 [MASTER STYLE SHEET]
 * Project: Lava Material Admin Panel Template
 * Version: v1.1.1
 * Copyright 2017-2020 rn53themes
 * Last Changes: 03/09/2016
 * Author: RN53 Themes
 * Email:      rn53themes@gmail.com
 * Website:    http://www.rn53themes.net 
 -----------------------------------------------*/
/*-------------------------------------------------
 =  TABLE OF CSS

1.COMMON CSS
2.LEFT MENU
3.HOME PAGE COUNTING
3.1 HOME PAGE COUNTING TWO
4.DASHBOARD
5.INNER PAGE TITLE
6.SUCCESS MESSAGE AND TABLE
7.DROPDOWN
8.TAB AND SEARCH
9.LIST ACTION
10.TOP BAR
-------------------------------------------------*/
/*-------------------------------------------------------*/
/* 1.COMMON CSS
/*-------------------------------------------------------*/

body {
	font-family: 'Quicksand', sans-serif;
	font-weight:500;
}
/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/micon.woff2') format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
	font-family: 'Quicksand', sans-serif;	
}

a,li,p,span,td,th{
	font-family: 'Quicksand', sans-serif;
	font-weight:500;
}
a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e8edf2; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aab4bd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.sb1 {
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
}
.sb1 h3 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.sb1-1 {} .sb1-2 {
    float: right;
}
.sb1-2 button {
    background: #2d3a40;
    border: 0px;
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px;
    border-radius: 0px;
}
.sb2 {
    background: #e8edf2;
    margin-top: 59px;
}
.sb2-1 {
    float: left;
    width: 20%;
    background: #FFFFFF;
    color: #fff;
    height: 90%;
    position: fixed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
}
.sb2-1 a {
    color: #cecece;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sb2-1 a:hover {
    /* color: #fff; */
    padding-left: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
.sb2-12 {
    position: relative;
    overflow: hidden;
    padding: 25px 15px;
    background: #ffffff;
    text-align: center;
}
.sb2-12 ul {
    padding: 0px;
}
.sb2-12 ul li {
    float: left;
    display: inline-block;
}
.sb2-12 ul li:nth-child(1) {
    width: 100%;
    margin-bottom: 25px;
}
.sb2-12 ul li:nth-child(2) {
    width: 100%;
    padding: 0px 7px;
}
.sb2-12 ul li:nth-child(3) {
    width: 10%;
}
.sb2-12 ul li img {
    width: 75px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
}
.sb2-12 ul li h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    color: #666;
    font-weight: 500;
}
.sb2-12 ul li h5 span {
    display: block;
    font-size: 12px;
    color: #666;
    padding-top: 3px;
    font-weight: 400;
}
.sb2-13 {
	background: #ffffff;
} 
.sb2-13 ul {
    /* padding: 20px; */
    
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}
.sb2-13 ul li {
    list-style-type: none;
    /* border-bottom: 1px solid #303b40; */
    /* padding: 3px 20px; */
}
.sb2-13 ul li a {
    display: block;
    font-size: 13px;
    padding: 10px 0px;
    border-bottom: 1px solid #e8edf2;
    padding: 12px 20px;
    color: #666;
}
.sb2-13 ul li a:after {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 16px;
    display: block;
    position: absolute;
    margin-top: -15px;
    right: 20px;
    font-size: 12px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
}
.sb2-13 ul li a:hover:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sb2-13 ul li a:focus:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sb2-13 ul li a:hover {
    background: #167ee6;
    color: #fff;
}
.sb2-13 ul li a:focus {
    background: #167ee6;
    color: #fff;
}
.menu-act {
    background: #57666d;
}
.sb2-13 ul li a i {
    margin-right: 8px;
    width: 16px;
}
.sb2-2 {
    float: left;
    width: 80%;
    padding: 40px;
    margin-left: 20%;
    background: #e8edf2;
}
.sb2-2-1 {
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}
.sb2-2-1 h2 {
    margin-top: 0px;
}
.sb2-2-1 p {} .sb2-2-1 table {
    width: 100%;
}
.sb2-2-1 table tr {} .sb2-2-1 table tr th {} .sb2-2-1 table tr td {} .sb2-2-1 table tr td a {} .sb2-2-1-edit {} .sb2-2-1-edit i {
    color: #FF5722;
}
.sb2-2-add-blog textarea {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
}
.sa-blog {} .sa-blog-post {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    padding: 25px 0px;
}
.sa-blog-post h2 {
    color: #000;
    font-weight: 700;
}
.sa-blog-post span {
    font-style: italic;
    color: #888;
}
.sa-blog-post span b {
    font-weight: 500;
    color: #000;
}
.sa-blog-post img {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 20px;
}
.sa-blog-post p {
    color: #888;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 15px;
}
.sa-blog-post-btn {
    background: #f7941e;
    color: #fff;
    padding: 5px;
}
.sa-blog-com-1 {
    padding: 50px 0px;
}
.sa-blog-com {} .sa-blog-ads {} .sa-blog-ads img {} .sa-blog-rece {} .sa-blog-rece h3 {
    text-transform: uppercase;
    font-size: 18px;
}
.sa-blog-rece ul {
    padding: 0px;
}
.sa-blog-rece ul li {
    list-style-type: none;
}
.sa-blog-rece ul li a {
    border-bottom: 1px solid #e1e6ec;
    color: #a2a2a2 !important;
    font-weight: 200 !important;
    line-height: 40px;
    padding-bottom: 7px;
    font-size: 14px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sa-blog-rece ul li a:hover {
    padding-left: 8px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sa-blog-rece ul li a i {
    padding-right: 8px;
}
.sa-blog-g {
    padding-top: 50px;
}
.sa-blog-g img {} .n-blog-top {
    background: #000000;
    padding: 10px 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
}
.blog-logo {} .blog-logo a {} .blog-logo a img {
    width: 175px;
}
.blog-soc {} .blog-soc ul {
    padding: 0px;
    float: right;
    margin-bottom: 0px;
    padding-top: 25px;
}
.blog-soc ul li {
    float: left;
    display: inline-block;
    padding-right: 6px;
}
.blog-soc ul li a {} .blog-soc ul li a i {
    color: #ffffff;
    width: 24px;
    height: 24px;
    /* border: 1px solid #6d6d6d; */
    
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    background: #f7941e;
}
.blog-copy {
    padding: 50px;
    background: #000;
    color: #fff;
}
.blog-copy p {
    text-align: center;
    margin-bottom: 0px;
}
.blog-copy p a {
    color: #fff;
}
.blog-login {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.blog-login:before {} .blog-login-in {
    position: relative;
    width: 30%;
    margin: 0 auto;
    margin-top: 7%;
    background: #fff;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.51);
}
.blog-login-in form {
    position: relative;
}
.blog-login-in form img {
    margin: 0 auto;
    display: table;
    padding-bottom: 25px;
}
.blog-login-in input {} .blog-login-in button {
    color: #fff;
    background-color: #fff;
    border-color: #428433;
    background: #4e923f;
    font-weight: 700;
}
.blog-login-in a {
    display: block;
}
/*-------------------------------------------------------*/
/* 2.LEFT MENU
/*-------------------------------------------------------*/

/*.left-sub-menu {} .left-sub-menu ul {*/
/*    padding: 0px 0px 10px 40px;*/
/*}*/
.left-sub-menu {} .left-sub-menu ul {
                      padding: 0px 0px 10px 0px;
  }
.left-sub-menu ul li {
    list-style-type: none;
}
.left-sub-menu ul li:last-child {
    border-bottom: 0px solid #303b40;
}
.left-sub-menu ul li a {
    display: block;
    font-size: 13px;
    padding: 10px 48px;
}
.left-sub-menu ul li a:hover {
    background: none;
    padding-left: 55px;
    color: #666 !important;
}
.left-sub-menu ul li a:focus {
    background: none;
}
.left-sub-menu ul li a:after {
    display: none;
}
.sb2-2-2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.sb2-2-2 ul {
    padding: 0px;
    margin-bottom: 0px;
}
.sb2-2-2 ul li {
    list-style-type: none;
    float: left;
    padding-right: 5px;
}
.sb2-2-2 ul li a {
    color: #495d65;
    vertical-align: middle;
}
.sb2-2-2 ul li a i {
    padding-right: 2px;
}
.active-bre:before {
    content: "/";
    padding: 0 5px;
    color: #333;
}
.my-acc {} .my-acc:hover {
    background: #4b5a61 !important;
}
.my-acc:focus {
    background: #4b5a61 !important;
}
/*-------------------------------------------------------*/
/* 3. HOME PAGE COUNTING
/*-------------------------------------------------------*/

.db-1 {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    display: none;
}
.db-1 ul {
    padding: 0px;
    margin-bottom: 0px;
}
.db-1 ul li {
    width: 23%;
    float: left;
    list-style-type: none;
    background: #00BCD4;
    /* padding: 5px; */
    
    margin-right: 10px;
}
.db-1 ul li:nth-child(1) {
    background: #00BCD4;
}
.db-1 ul li:nth-child(2) {
    background: #00d4ca;
}
.db-1 ul li:nth-child(3) {
    background: #00d499;
}
.db-1 ul li:nth-child(4) {
    background: #FFC107;
}
.db-icon-le {
    width: 30%;
    float: left;
}
.db-icon-le i {
    text-align: center;
    font-size: 28px;
    padding: 18px 20px;
    color: #fff;
}
.db-icon-ri {
    width: 70%;
    float: left;
    background: #e3e8ea;
    padding: 0px 10px;
}
.db-icon-ri h5 {
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 7px;
}
.db-icon-ri p {} .bor {
    border: 1px solid #cccccc;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.bor h3 {
    margin-top: 10px;
}
/*-------------------------------------------------------*/
/* 3.1 HOME PAGE COUNTING TWO
/*-------------------------------------------------------*/

.db-2 {
    /* background: #e3e8ea; */
    /* padding: 25px; */
    
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.db-2 h3 {} .db-2 p {} .db-2 ul {
    margin-bottom: 0px;
    padding: 0px;
}
.db-2 ul li {
    width: 25%;
    float: left;
    list-style-type: none;
}
/*-------------------------------------------------------*/
/* 4.DASHBOARD
/*-------------------------------------------------------*/

.dash-book {
    background: #e3e8ea;
    padding: 30px 25px 35px 25px;
    text-align: center;
    margin: 2px;
    position: relative;
    overflow: hidden;
}
.dash-book i {
    font-size: 72px;
    color: #b4babd;
}
.dash-book h5 {
    font-size: 28px;
    color: #fff;
}
.dash-book h4 {
    font-size: 74px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.dash-book a {
    border: 1px solid #2f8233;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 2px;
    background: #4caf50;
    font-weight: 700;
    font-size: 13px;
    line-height: 26px;
}
.dash-book a:hover {
    color: #fff;
    background: #0e76a8;
    border: 1px solid #0d638c;
}
.dash-book a:focus {
    color: #fff;
}
.dash-b-1 h4 {
    color: #00BCD4;
}
.dash-b-2 h4 {
    color: #00d4ca;
}
.dash-b-3 h4 {
    color: #00d499;
}
.dash-b-4 h4 {
    color: #FFC107;
}
.sb2-2-3 {
    /* background:#fff; */
    
    margin-top: 30px;
}
.list-img {} .list-img img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.list-enq-name {
    display: block;
    font-weight: 700;
    color: #263238;
}
.list-enq-city {} .dash-b-1 {
    background: url('../images/bg/1.jpg') no-repeat center;
    background-size: cover;
}
.dash-b-2 {
    background: url('../images/bg/2.jpg') no-repeat center;
    background-size: cover;
}
.dash-b-3 {
    background: url('../images/bg/3.jpg') no-repeat center;
    background-size: cover;
}
.dash-b-4 {
    background: url('../images/bg/4.jpg') no-repeat center;
    background-size: cover;
}
/*-------------------------------------------------------*/
/* 5. INNER PAGE TITLE
/*-------------------------------------------------------*/

.inn-title {
    padding: 25px 25px;
    background: #ffffff;
    border-bottom: 1px solid #e8edf2;
    border-radius: 4px;
}
.inn-title h4 {
    font-weight: 700;
    padding-bottom: 10px;
    color: #344054;
}
.txt-danger {
    color: #ea6c41;
}
.inn-title p {
    /* padding-bottom: 10px; */
    
    color: #929292;
    margin-bottom: 0px;
}
/*-------------------------------------------------------*/
/* 6. SUCCESS MESSAGE AND TABLE
/*-------------------------------------------------------*/

.txt-success {} .txt-success i {
    color: #469408;
    margin-right: 10px;
}
.table-desi {} .table-desi thead {} .table-desi thead tr {} .table-desi thead tr th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.table-desi tbody {} .table-desi tbody tr {} .table-desi tbody tr td {
    color: #929292;
    padding: 15px 8px 12px 8px !important;
}
.table-desi i {
    background: #54bb49;
    color: #ffffff;
    padding: 5px 6px;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    margin-right: 10px;
}
.tab-inn input[type="submit"] {} .table-desi tbody tr td a {
    color: #929292;
}
/*-------------------------------------------------------*/
/* 7.DROPDOWN
/*-------------------------------------------------------*/

.drop-down-meta {
    position: absolute;
    right: 30px;
    padding: 3px;
    color: black;
    z-index: 999;
    top: 15px;
    background: #e3e8ea;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.drop-down-meta:hover {
    background: #29a0da;
    color: #fff;
}
.box-inn-sp {
    background: #fff;
    /* padding: 25px; */
    border-radius: 4px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}
/*-------------------------------------------------------*/
/* 8. TAB AND SEARCH
/*-------------------------------------------------------*/

.tab-inn {
    padding: 25px;
}
.tab-posi {
    position: relative;
    overflow: hidden;
}
.top-menu-sty {
    width: 250px !important;
}
.my-btn {
    color: #ffffff;
    background: #57666d;
    padding: 21px;
    line-height: 18px;
    font-weight: 700;
}
.app-search {
    position: relative;
    margin: 12px 15px 8px 5px;
    font-size: 13px;
    color: #626773;
    padding-left: 20px;
    padding-right: 40px;
    background: transparent;
    border: 1px solid rgba(122, 125, 132, 0.15);
    box-shadow: none;
    border-radius: 30px;
    height: 36px;
    font-weight: 600;
    width: 100%;
}
.app-search input {
    border-bottom: 0px !important;
    /* line-height: 7px !important; */
    height: 35px !important;
    color: #666;
    font-weight: 400;
}
.app-search a {
    position: absolute;
    top: 8px;
    right: 16px;
    color: #7a7d84;
}
.box-second-inn {
    margin-top: 30px;
}
.mar-bot-20 {
    margin-bottom: 20px;
}
.icon-container .icon-preview {
    height: 90px;
    text-align: center;
}
.icon-container span {
    display: block;
}
.icon-container i {
    font-size: 3em;
    margin-bottom: 10px;
}
.tab-pad {
    padding-top: 20px !important;
}
.tab-col {
    padding: 20px !important;
    color: #000;
}
/*-------------------------------------------------------*/
/* 9. LIST ACTION
/*-------------------------------------------------------*/

.list-act-hom ul {
    padding: 0px;
    padding-top: 5px;
}
.list-act-hom ul li {
    position: relative;
    overflow: hidden;
    padding-left: 70px;
}
.list-act-hom ul li i {
    width: 35px;
    height: 35px;
    background: #167ee6;
    border-radius: 50%;
    text-align: center;
    padding: 9px 10px;
    margin-left: -68px;
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 18px;
}
.list-act-hom ul li h4 {
    margin-top: 7px;
    font-weight: 700;
    color: #263238;
    font-size: 16px;
    padding-bottom: 14px;
}
.list-act-hom ul li h4 span {
    color: #929292;
}
.list-act-hom ul li p {
    padding-top: 2.2px;
    color: #666;
    padding-bottom: 2.2px;
}
.list-act-hom-con::after {
    content: '';
    background: #e8edf2;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 19px;
}
.list-act-hom-con h4 {} .list-act-hom-con h4 p {} .list-act-hom-con h4 p {} .btn-noti {
    width: 35px;
    height: 23px;
    top: 18px;
    display: initial !important;
    color: #666;
    font-size: 20px;
    margin-right: 20px;
}
/*-------------------------------------------------------*/
/* 10. TOP BAR
/*-------------------------------------------------------*/

.btn-noti span {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -8px;
    height: 14px;
    border-radius: 10px;
    min-width: 15px;
    background: #4CAF50;
    color: #fff;
    line-height: 14px;
    padding: 0px 2px;
    font-size: 11px;
    white-space: nowrap;
    -webkit-transform-origin: -10% center;
    -ms-transform-origin: -10% center;
    transform-origin: -10% center;
    font-family: tahoma;
    box-shadow: 0 0 0 1px #3d793f;
    text-align: center;
}
.top-user-pro {
    padding: 18px 20px;
    color: #666;
    float: right;
}
.top-user-pro img {
    width: 25px;
    margin-right: 10px;
    border-radius: 35px;
    border: 2px solid #a1adb3;
}
.top-user-pro i {
    margin-left: 5px;
}
.top-not-cen {
    margin: 0 auto;
    display: table;
    display: none;
    padding-top: 5px;
}
.tab-menu {
    display: none;
}
.logo {} .logo img {
    width: 170px;
    padding-top: 13px;
}
.atab-menu {
    display: inline-block;
    cursor: pointer;
}
.btn-close-menu {
    display: none;
    z-index: 999;
    background: #0e76a8;
    color: #fff;
    position: absolute;
    left: 240px;
    padding: 5px 8px;
    border-radius: 2px;
    top: 0px;
}
.page-back {
    float: right !important;
}
.page-back a {
    background: #f44336;
    color: #fff !important;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 25px;
    font-weight: 600;
}
.page-back a i {} .nav-tabs > li > a {
    color: #0e76a8;
    font-weight: 700;
    font-size: 14px;
}
.nav-tabs > li > a i {
    width: 16px;
    color: #0e76a8;
    margin-right: 5px;
}
.coll-head {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.coll-head i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}
.coll-body {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 2rem;
}
.btn-log-in {
    text-align: center;
}
.for-pass {
    text-align: right;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #0e76a8;
}
.select-pos {
    position: relative;
    /* overflow: hidden; */
    
    display: initial;
}
.menu-active{
    background: #167ee6;
    color: #fff !important;
}
.tab-map{}
.tab-map iframe{
    width: 100%;
    height: 350px;
    border: 0px;
    display: block;
    pointer-events: none;
    position: relative;	
}



.ad-v2-hom-info{}
.ad-v2-hom-info-inn{
    position: relative;
    overflow: hidden;
    margin: 25px 00px;
}
.ad-v2-hom-info-inn ul{}
.ad-v2-hom-info-inn ul li{
    float: left;
    width: 25%;
}
.ad-v2-hom-info-inn ul li div{}
.ad-hom-box{
    background: #fff;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}
.ad-hom-box span{
    text-align: center;
}
.ad-hom-box i{}
.ad-hom-box p{
    color: #9a9a9a;
}
.ad-hom-box p i{
    font-size: 12px;
}
.ad-hom-box h3{}
.ad-hom-col-com{
    height: 96px;
    width: 100px;
    display: inline-block;
    float: left;
}
.ad-hom-view-com{
    padding: 20px;
    float: left;
}
.ad-hom-col-com i{
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 32px;
}
.ad-hom-col-1{
    background: #167ee6;
    text-align: center;
}
.ad-hom-col-2{
    background: #4caf50;
}
.ad-hom-col-3{
    background: #4c5caf;
}
.ad-hom-col-4{
    background: #da0c4d;
}
.ad-hom-col-1 i{}
.ad-hom-col-2 i{}
.ad-hom-col-3 i{}
.ad-hom-col-4 i{}
.table > tbody > tr.active > td, .jsgrid-table > tbody > tr.active > td, .table > tbody > tr.active > th, .jsgrid-table > tbody > tr.active > th, .table > tbody > tr > td.active, .jsgrid-table > tbody > tr > td.active, .table > tbody > tr > th.active, .jsgrid-table > tbody > tr > th.active, .table > tfoot > tr.active > td, .jsgrid-table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .jsgrid-table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .jsgrid-table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .jsgrid-table > tfoot > tr > th.active, .table > thead > tr.active > td, .jsgrid-table > thead > tr.active > td, .table > thead > tr.active > th, .jsgrid-table > thead > tr.active > th, .table > thead > tr > td.active, .jsgrid-table > thead > tr > td.active, .table > thead > tr > th.active, .jsgrid-table > thead > tr > th.active {
    background: rgba(220, 220, 220, 0.08); }

.table > tbody > tr.success > td, .jsgrid-table > tbody > tr.success > td, .table > tbody > tr.success > th, .jsgrid-table > tbody > tr.success > th, .table > tbody > tr > td.success, .jsgrid-table > tbody > tr > td.success, .table > tbody > tr > th.success, .jsgrid-table > tbody > tr > th.success, .table > tfoot > tr.success > td, .jsgrid-table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .jsgrid-table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .jsgrid-table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .jsgrid-table > tfoot > tr > th.success, .table > thead > tr.success > td, .jsgrid-table > thead > tr.success > td, .table > thead > tr.success > th, .jsgrid-table > thead > tr.success > th, .table > thead > tr > td.success, .jsgrid-table > thead > tr > td.success, .table > thead > tr > th.success, .jsgrid-table > thead > tr > th.success {
    background: rgba(9, 162, 117, 0.08); }

.table > tbody > tr.info > td, .jsgrid-table > tbody > tr.info > td, .table > tbody > tr.info > th, .jsgrid-table > tbody > tr.info > th, .table > tbody > tr > td.info, .jsgrid-table > tbody > tr > td.info, .table > tbody > tr > th.info, .jsgrid-table > tbody > tr > th.info, .table > tfoot > tr.info > td, .jsgrid-table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .jsgrid-table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .jsgrid-table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .jsgrid-table > tfoot > tr > th.info, .table > thead > tr.info > td, .jsgrid-table > thead > tr.info > td, .table > thead > tr.info > th, .jsgrid-table > thead > tr.info > th, .table > thead > tr > td.info, .jsgrid-table > thead > tr > td.info, .table > thead > tr > th.info, .jsgrid-table > thead > tr > th.info {
    background: rgba(177, 0, 88, 0.08); }

.table > tbody > tr.warning > td, .jsgrid-table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .jsgrid-table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .jsgrid-table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .jsgrid-table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .jsgrid-table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .jsgrid-table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .jsgrid-table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .jsgrid-table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .jsgrid-table > thead > tr.warning > td, .table > thead > tr.warning > th, .jsgrid-table > thead > tr.warning > th, .table > thead > tr > td.warning, .jsgrid-table > thead > tr > td.warning, .table > thead > tr > th.warning, .jsgrid-table > thead > tr > th.warning {
    background: rgba(242, 183, 1, 0.08); }

.table > tbody > tr.danger > td, .jsgrid-table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .jsgrid-table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .jsgrid-table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .jsgrid-table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .jsgrid-table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .jsgrid-table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .jsgrid-table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .jsgrid-table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .jsgrid-table > thead > tr.danger > td, .table > thead > tr.danger > th, .jsgrid-table > thead > tr.danger > th, .table > thead > tr > td.danger, .jsgrid-table > thead > tr > td.danger, .table > thead > tr > th.danger, .jsgrid-table > thead > tr > th.danger {
    background: rgba(220, 0, 48, 0.08); }

.table-responsive {
    border: none; }
.table-responsive .table, .table-responsive .jsgrid-table {
    max-width: none;
    -webkit-overflow-scrolling: touch !important; }

.table, .jsgrid-table {
    border-color: rgba(33, 33, 33, 0.1) !important; }

.table > tbody > tr > td, .jsgrid-table > tbody > tr > td, .table > tbody > tr > th, .jsgrid-table > tbody > tr > th, .table > tfoot > tr > td, .jsgrid-table > tfoot > tr > td, .table > tfoot > tr > th, .jsgrid-table > tfoot > tr > th, .table > thead > tr > td, .jsgrid-table > thead > tr > td, .table > thead > tr > th, .jsgrid-table > thead > tr > th {
    padding: 16px;
    border-top: 1px solid rgba(33, 33, 33, 0.1);
    vertical-align: middle; }

.table > thead > tr > th, .jsgrid-table > thead > tr > th, .table > tfoot > tr > th, .jsgrid-table > tfoot > tr > th {
    border-bottom: 2px solid rgba(33, 33, 33, 0.1) !important;
    color: #212121;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase; }

.table > tfoot > tr > th, .jsgrid-table > tfoot > tr > th {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1) !important; }

.table-hover > tbody > tr:hover {
    background-color: rgba(33, 33, 33, 0.05) !important; }

.table-bordered {
    border: 1px solid rgba(33, 33, 33, 0.1); }

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid rgba(33, 33, 33, 0.1); }

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(33, 33, 33, 0.05); }

.color-bg-table .table > caption + thead > tr:first-child > td, .color-bg-table .jsgrid-table > caption + thead > tr:first-child > td, .color-bg-table .table >
caption + thead > tr:first-child > th, .color-bg-table .jsgrid-table >
caption + thead > tr:first-child > th, .color-bg-table .table > colgroup + thead > tr:first-child > td, .color-bg-table .jsgrid-table > colgroup + thead > tr:first-child > td, .color-bg-table .table > colgroup + thead > tr:first-child > th, .color-bg-table .jsgrid-table > colgroup + thead > tr:first-child > th, .color-bg-table .table > thead:first-child > tr:first-child > td, .color-bg-table .jsgrid-table > thead:first-child > tr:first-child > td, .color-bg-table .table > thead:first-child > tr:first-child > th, .color-bg-table .jsgrid-table > thead:first-child > tr:first-child > th {
    background: #09a275; }
.color-bg-table .table > thead > tr > th, .color-bg-table .jsgrid-table > thead > tr > th {
    color: #fff; }

.bootstrap-table .fixed-table-container {
    border: 1px solid rgba(33, 33, 33, 0.1);
    border-radius: 0; }
.bootstrap-table .fixed-table-container tbody td {
    border: 1px solid rgba(33, 33, 33, 0.1); }

.fixed-table-body .card-view {
    background: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0; }
.fixed-table-body .card-view .title {
    font-weight: 400; }
.fixed-table-body .card-view:hover {
    box-shadow: none; }

table.dataTable tbody tr {
    background-color: transparent; }

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: inherit; }

table.dataTable.display.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: rgba(33, 33, 33, 0.05); }

table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3, table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1, table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: inherit; }

table.dataTable.display.table-striped tbody tr > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background: transparent; }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-color: rgba(33, 33, 33, 0.1);
    border-left: none;
    border-bottom: none; }

table.dataTable > tfoot > tr > th {
    border-bottom: 0 solid rgba(33, 33, 33, 0.1) !important;
    border-left: medium none !important; }

table.dataTable {
    border-right: medium none !important; }

table.dataTable > caption + thead > tr:first-child > td, table.dataTable > caption + thead > tr:first-child > th, table.dataTable > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .jsgrid-table > colgroup + thead > tr:first-child > th, table.dataTable > thead:first-child > tr:first-child > td, table.dataTable > thead:first-child > tr:first-child > th {
    border-left: medium none !important; }

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length {
    margin-bottom: 30px; }
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    padding-top: 20px;
    margin-bottom: 14px;
    color: #878787; }
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info {
    padding-left: 15px; }
.dataTables_wrapper .dataTables_info {
    color: #878787; }
.dataTables_wrapper .dataTables_filter {
    padding-right: 15px; }
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
    height: 25px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background: #09a275;
    border-color: #09a275;
    color: #fff !important;
    box-shadow: none; }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #212121; }

.sorting,
.sorting_asc,
.sorting_desc {
    position: relative; }

table.dataTable thead .sorting::after {
    content: "\f0dc";
    opacity: 0.2; }

table.dataTable thead .sorting_asc::after {
    content: "\f0de"; }

table.dataTable thead .sorting_desc::after {
    content: "\f0dd"; }

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    display: block;
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 14px; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
    border-left: medium none;
    border-top: medium none; }

.dt-buttons {
    float: left; }
.dt-buttons .dt-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
.dt-buttons .dt-button:hover {
    color: #fff; }
.dt-buttons .dt-button:last-child {
    margin-right: 0; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: #09a275;
    box-shadow: none; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    background-color: #dc0030;
    box-shadow: none; }

table.footable > tbody > tr > td.footable-sortable, table.footable > tbody > tr > th.footable-sortable, table.footable > tfoot > tr > td.footable-sortable, table.footable > tfoot > tr > th.footable-sortable, table.footable > thead > tr > td.footable-sortable, table.footable > thead > tr > th.footable-sortable {
    padding: 16px;
    border-top: none; }

table.footable > tr.footable-filtering > th,
table.footable > thead > tr.footable-filtering > th {
    border: none !important; }

tr.footable-header > th {
    border-top: none !important; }

.footable-details.table, .footable-details.jsgrid-table {
    background: transparent; }

.footable-editing .btn.footable-edit, .footable-editing .wizard > .actions a.footable-edit, .wizard > .actions .footable-editing a.footable-edit, .footable-editing .dt-buttons .footable-edit.dt-button, .dt-buttons .footable-editing .footable-edit.dt-button, .footable-editing .tablesaw-sortable th.tablesaw-sortable-head button.footable-edit, .tablesaw-sortable th.tablesaw-sortable-head .footable-editing button.footable-edit, .footable-editing .sweet-alert button.footable-edit, .sweet-alert .footable-editing button.footable-edit, .footable-editing .owl-theme .owl-nav .footable-edit[class*="owl-"], .owl-theme .owl-nav .footable-editing .footable-edit[class*="owl-"], .footable-editing button.footable-edit.fc-agendaDay-button.fc-state-default.fc-corner-right,
.footable-editing button.footable-edit.fc-month-button.fc-state-default.fc-corner-left,
.footable-editing button.footable-edit.fc-agendaWeek-button, .footable-editing .footable-edit.fc-prev-button, .footable-editing .footable-edit.fc-next-button, .footable-editing .footable-edit.fc-today-button, .footable-editing .btn.footable-delete, .footable-editing .wizard > .actions a.footable-delete, .wizard > .actions .footable-editing a.footable-delete, .footable-editing .dt-buttons .footable-delete.dt-button, .dt-buttons .footable-editing .footable-delete.dt-button, .footable-editing .tablesaw-sortable th.tablesaw-sortable-head button.footable-delete, .tablesaw-sortable th.tablesaw-sortable-head .footable-editing button.footable-delete, .footable-editing .sweet-alert button.footable-delete, .sweet-alert .footable-editing button.footable-delete, .footable-editing .owl-theme .owl-nav .footable-delete[class*="owl-"], .owl-theme .owl-nav .footable-editing .footable-delete[class*="owl-"], .footable-editing button.footable-delete.fc-agendaDay-button.fc-state-default.fc-corner-right,
.footable-editing button.footable-delete.fc-month-button.fc-state-default.fc-corner-left,
.footable-editing button.footable-delete.fc-agendaWeek-button, .footable-editing .footable-delete.fc-prev-button, .footable-editing .footable-delete.fc-next-button, .footable-editing .footable-delete.fc-today-button {
    background: transparent;
    border: none !important; }
.footable-editing .btn.footable-edit .fooicon.fooicon-pencil, .footable-editing .wizard > .actions a.footable-edit .fooicon.fooicon-pencil, .wizard > .actions .footable-editing a.footable-edit .fooicon.fooicon-pencil, .footable-editing .dt-buttons .footable-edit.dt-button .fooicon.fooicon-pencil, .dt-buttons .footable-editing .footable-edit.dt-button .fooicon.fooicon-pencil, .footable-editing .tablesaw-sortable th.tablesaw-sortable-head button.footable-edit .fooicon.fooicon-pencil, .tablesaw-sortable th.tablesaw-sortable-head .footable-editing button.footable-edit .fooicon.fooicon-pencil, .footable-editing .sweet-alert button.footable-edit .fooicon.fooicon-pencil, .sweet-alert .footable-editing button.footable-edit .fooicon.fooicon-pencil, .footable-editing .owl-theme .owl-nav .footable-edit[class*="owl-"] .fooicon.fooicon-pencil, .owl-theme .owl-nav .footable-editing .footable-edit[class*="owl-"] .fooicon.fooicon-pencil, .footable-editing button.footable-edit.fc-agendaDay-button.fc-state-default.fc-corner-right .fooicon.fooicon-pencil,
.footable-editing button.footable-edit.fc-month-button.fc-state-default.fc-corner-left .fooicon.fooicon-pencil,
.footable-editing button.footable-edit.fc-agendaWeek-button .fooicon.fooicon-pencil, .footable-editing .footable-edit.fc-prev-button .fooicon.fooicon-pencil, .footable-editing .footable-edit.fc-next-button .fooicon.fooicon-pencil, .footable-editing .footable-edit.fc-today-button .fooicon.fooicon-pencil, .footable-editing .btn.footable-delete .fooicon.fooicon-pencil, .footable-editing .wizard > .actions a.footable-delete .fooicon.fooicon-pencil, .wizard > .actions .footable-editing a.footable-delete .fooicon.fooicon-pencil, .footable-editing .dt-buttons .footable-delete.dt-button .fooicon.fooicon-pencil, .dt-buttons .footable-editing .footable-delete.dt-button .fooicon.fooicon-pencil, .footable-editing .tablesaw-sortable th.tablesaw-sortable-head button.footable-delete .fooicon.fooicon-pencil, .tablesaw-sortable th.tablesaw-sortable-head .footable-editing button.footable-delete .fooicon.fooicon-pencil, .footable-editing .sweet-alert button.footable-delete .fooicon.fooicon-pencil, .sweet-alert .footable-editing button.footable-delete .fooicon.fooicon-pencil, .footable-editing .owl-theme .owl-nav .footable-delete[class*="owl-"] .fooicon.fooicon-pencil, .owl-theme .owl-nav .footable-editing .footable-delete[class*="owl-"] .fooicon.fooicon-pencil, .footable-editing button.footable-delete.fc-agendaDay-button.fc-state-default.fc-corner-right .fooicon.fooicon-pencil,
.footable-editing button.footable-delete.fc-month-button.fc-state-default.fc-corner-left .fooicon.fooicon-pencil,
.footable-editing button.footable-delete.fc-agendaWeek-button .fooicon.fooicon-pencil, .footable-editing .footable-delete.fc-prev-button .fooicon.fooicon-pencil, .footable-editing .footable-delete.fc-next-button .fooicon.fooicon-pencil, .footable-editing .footable-delete.fc-today-button .fooicon.fooicon-pencil {
    color: #09a275; }
.footable-editing .btn.footable-edit .fooicon.fooicon-trash, .footable-editing .wizard > .actions a.footable-edit .fooicon.fooicon-trash, .wizard > .actions .footable-editing a.footable-edit .fooicon.fooicon-trash, .footable-editing .dt-buttons .footable-edit.dt-button .fooicon.fooicon-trash, .dt-buttons .footable-editing .footable-edit.dt-button .fooicon.fooicon-trash, .footable-editing .tablesaw-sortable th.tablesaw-sortable-head button.footable-edit .fooicon.fooicon-trash, .tablesaw-sortable th.tablesaw-sortable-head .footable-editing button.footable-edit .fooicon.fooicon-trash, .footable-editing .sweet-alert button.footable-edit .fooicon.fooicon-trash, .sweet-alert .footable-editing button.footable-edit .fooicon.fooicon-trash, .footable-editing .owl-theme .owl-nav .footable-edit[class*="owl-"] .fooicon.fooicon-trash, .owl-theme .owl-nav .footable-editing .footable-edit[class*="owl-"] .fooicon.fooicon-trash, .footable-editing button.footable-edit.fc-agendaDay-button.fc-state-default.fc-corner-right .fooicon.fooicon-trash,
.footable-editing button.footable-edit.fc-month-button.fc-state-default.fc-corner-left .fooicon.fooicon-trash,
.footable-editing button.footable-edit.fc-agendaWeek-button .fooicon.fooicon-trash, .footable-editing .footable-edit.fc-prev-button .fooicon.fooicon-trash, .footable-editing .footable-edit.fc-next-button .fooicon.fooicon-trash, .footable-editing .footable-edit.fc-today-button .fooicon.fooicon-trash, .footable-editing .btn.footable-delete .fooicon.fooicon-trash, .footable-editing .wizard > .actions a.footable-delete .fooicon.fooicon-trash, .wizard > .actions .footable-editing a.footable-delete .fooicon.fooicon-trash, .footable-editing .dt-buttons .footable-delete.dt-button .fooicon.fooicon-trash, .dt-buttons .footable-editing .footable-delete.dt-button .fooicon.fooicon-trash, .footable-editing .tablesaw-sortable th.tablesaw-sortable-head button.footable-delete .fooicon.fooicon-trash, .tablesaw-sortable th.tablesaw-sortable-head .footable-editing button.footable-delete .fooicon.fooicon-trash, .footable-editing .sweet-alert button.footable-delete .fooicon.fooicon-trash, .sweet-alert .footable-editing button.footable-delete .fooicon.fooicon-trash, .footable-editing .owl-theme .owl-nav .footable-delete[class*="owl-"] .fooicon.fooicon-trash, .owl-theme .owl-nav .footable-editing .footable-delete[class*="owl-"] .fooicon.fooicon-trash, .footable-editing button.footable-delete.fc-agendaDay-button.fc-state-default.fc-corner-right .fooicon.fooicon-trash,
.footable-editing button.footable-delete.fc-month-button.fc-state-default.fc-corner-left .fooicon.fooicon-trash,
.footable-editing button.footable-delete.fc-agendaWeek-button .fooicon.fooicon-trash, .footable-editing .footable-delete.fc-prev-button .fooicon.fooicon-trash, .footable-editing .footable-delete.fc-next-button .fooicon.fooicon-trash, .footable-editing .footable-delete.fc-today-button .fooicon.fooicon-trash {
    color: #dc0030; }

.footable-show .fooicon.fooicon-pencil {
    padding-right: 6px; }

.footable-filtering .checkbox {
    margin-bottom: inherit;
    margin-top: inherit;
    min-height: inherit;
    padding: 3px 20px !important;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize; }
.footable-filtering .checkbox input[type="checkbox"] {
    opacity: 1; }
.footable-filtering .checkbox label::before {
    display: none; }

.fooicon.fooicon-sort,
.fooicon.fooicon-sort-asc,
.fooicon.fooicon-sort-desc {
    font-family: FontAwesome !important;
    font-size: 14px; }

.fooicon.fooicon-sort:before {
    content: "\f0dc"; }

.fooicon.fooicon-sort-asc:before {
    content: "\f0de"; }

.fooicon.fooicon-sort-desc:before {
    content: "\f0dd"; }

table.footable > tbody > tr.footable-empty > td {
    font-size: 18px; }

.jsgrid-row > .jsgrid-cell,
.jsgrid-alt-row > .jsgrid-cell {
    background: transparent;
    border-color: rgba(33, 33, 33, 0.1); }

.jsgrid-header-row > .jsgrid-header-cell {
    background: inherit;
    font-size: 12px;
    color: #212121;
    text-align: left;
    text-transform: uppercase; }

.jsgrid-filter-row > .jsgrid-cell, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-insert-row > .jsgrid-cell {
    background: inherit;
    border-bottom: 1px solid rgba(33, 33, 33, 0.1); }

.jsgrid-edit-row > .jsgrid-cell, .jsgrid-filter-row > .jsgrid-cell, .jsgrid-grid-body, .jsgrid-grid-header, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-insert-row > .jsgrid-cell {
    background: inherit;
    border-color: rgba(33, 33, 33, 0.1); }

.jsgrid-alt-row > .jsgrid-cell {
    background: inherit; }

.jsgrid-selected-row > .jsgrid-cell {
    background: inherit;
    border-color: rgba(33, 33, 33, 0.1); }

.jsgrid-pager {
    color: #212121; }
.jsgrid-pager a {
    color: #212121; }

.jsgrid-align-center, .jsgrid-align-center input, .jsgrid-align-center select, .jsgrid-align-center textarea, .jsgrid-align-right, .jsgrid-align-right input, .jsgrid-align-right select, .jsgrid-align-right textarea {
    text-align: left; }

.jsgrid-pager-current-page, .jsgrid-pager-page a:hover, .jsgrid-pager-page a:active, .jsgrid-pager-page a:focus {
    background: #09a275;
    border: 1px solid #09a275;
    color: #fff;
    font-weight: 400; }

.jsgrid-pager-page, .jsgrid-pager-page a {
    padding: 5px 10px;
    border: 1px solid transparent; }

.tablesaw-swipe .tablesaw-cell-persist {
    box-shadow: none;
    border-right: inherit; }

.tablesaw-sortable th.tablesaw-sortable-head button {
    padding: 0;
    border: none !important;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase; }

.tablesaw {
    margin-bottom: 0 !important; }
.tablesaw thead {
    background: transparent;
    border: none; }
.tablesaw thead tr:first-child th {
    border-right: medium none;
    padding: 16px !important; }
.tablesaw td a {
    color: #878787 !important; }
.tablesaw td, .tablesaw tbody th {
    vertical-align: middle;
    font-size: inherit;
    color: #878787 !important; }

.tablesaw-toolbar {
    font-size: 100%;
    margin-bottom: 30px; }
.tablesaw-toolbar label {
    color: #212121;
    display: block;
    margin-right: 0;
    padding: 0;
    text-transform: uppercase; }

.tablesaw-bar .btn-select select {
    opacity: 1;
    font-family: "Roboto", sans-serif;
    color: #212121 !important;
    font-size: 14px !important;
    font-weight: 400;
    text-transform: capitalize;
    filter: alpha(opacity=1);
    display: inline-block;
    color: inherit;
    background: transparent;
    position: static; }

.tablesaw-enhanced .tablesaw-bar .btn:hover, .tablesaw-enhanced .tablesaw-bar .wizard > .actions a:hover, .wizard > .actions .tablesaw-enhanced .tablesaw-bar a:hover, .tablesaw-enhanced .tablesaw-bar .dt-buttons .dt-button:hover, .dt-buttons .tablesaw-enhanced .tablesaw-bar .dt-button:hover, .tablesaw-enhanced .tablesaw-bar .tablesaw-sortable th.tablesaw-sortable-head button:hover, .tablesaw-sortable th.tablesaw-sortable-head .tablesaw-enhanced .tablesaw-bar button:hover, .tablesaw-enhanced .tablesaw-bar .sweet-alert button:hover, .sweet-alert .tablesaw-enhanced .tablesaw-bar button:hover, .tablesaw-enhanced .tablesaw-bar .owl-theme .owl-nav [class*="owl-"]:hover, .owl-theme .owl-nav .tablesaw-enhanced .tablesaw-bar [class*="owl-"]:hover, .tablesaw-enhanced .tablesaw-bar button.fc-agendaDay-button.fc-state-default.fc-corner-right:hover,
.tablesaw-enhanced .tablesaw-bar button.fc-month-button.fc-state-default.fc-corner-left:hover,
.tablesaw-enhanced .tablesaw-bar button.fc-agendaWeek-button:hover, .tablesaw-enhanced .tablesaw-bar .fc-prev-button:hover, .tablesaw-enhanced .tablesaw-bar .fc-next-button:hover, .tablesaw-enhanced .tablesaw-bar .fc-today-button:hover, .tablesaw-enhanced .tablesaw-bar .btn:focus, .tablesaw-enhanced .tablesaw-bar .wizard > .actions a:focus, .wizard > .actions .tablesaw-enhanced .tablesaw-bar a:focus, .tablesaw-enhanced .tablesaw-bar .dt-buttons .dt-button:focus, .dt-buttons .tablesaw-enhanced .tablesaw-bar .dt-button:focus, .tablesaw-enhanced .tablesaw-bar .tablesaw-sortable th.tablesaw-sortable-head button:focus, .tablesaw-sortable th.tablesaw-sortable-head .tablesaw-enhanced .tablesaw-bar button:focus, .tablesaw-enhanced .tablesaw-bar .sweet-alert button:focus, .sweet-alert .tablesaw-enhanced .tablesaw-bar button:focus, .tablesaw-enhanced .tablesaw-bar .owl-theme .owl-nav [class*="owl-"]:focus, .owl-theme .owl-nav .tablesaw-enhanced .tablesaw-bar [class*="owl-"]:focus, .tablesaw-enhanced .tablesaw-bar button.fc-agendaDay-button.fc-state-default.fc-corner-right:focus,
.tablesaw-enhanced .tablesaw-bar button.fc-month-button.fc-state-default.fc-corner-left:focus,
.tablesaw-enhanced .tablesaw-bar button.fc-agendaWeek-button:focus, .tablesaw-enhanced .tablesaw-bar .fc-prev-button:focus, .tablesaw-enhanced .tablesaw-bar .fc-next-button:focus, .tablesaw-enhanced .tablesaw-bar .fc-today-button:focus {
    background: transparent; }

.tablesaw-bar .tablesaw-toolbar .btn, .tablesaw-bar .tablesaw-toolbar .wizard > .actions a, .wizard > .actions .tablesaw-bar .tablesaw-toolbar a, .tablesaw-bar .tablesaw-toolbar .dt-buttons .dt-button, .dt-buttons .tablesaw-bar .tablesaw-toolbar .dt-button, .tablesaw-bar .tablesaw-toolbar .tablesaw-sortable th.tablesaw-sortable-head button, .tablesaw-sortable th.tablesaw-sortable-head .tablesaw-bar .tablesaw-toolbar button, .tablesaw-bar .tablesaw-toolbar .sweet-alert button, .sweet-alert .tablesaw-bar .tablesaw-toolbar button, .tablesaw-bar .tablesaw-toolbar .owl-theme .owl-nav [class*="owl-"], .owl-theme .owl-nav .tablesaw-bar .tablesaw-toolbar [class*="owl-"], .tablesaw-bar .tablesaw-toolbar button.fc-agendaDay-button.fc-state-default.fc-corner-right,
.tablesaw-bar .tablesaw-toolbar button.fc-month-button.fc-state-default.fc-corner-left,
.tablesaw-bar .tablesaw-toolbar button.fc-agendaWeek-button, .tablesaw-bar .tablesaw-toolbar .fc-prev-button, .tablesaw-bar .tablesaw-toolbar .fc-next-button, .tablesaw-bar .tablesaw-toolbar .fc-today-button {
    font-size: 0 !important; }

.btn.btn-small.btn-select, .wizard > .actions a.btn-small.btn-select, .dt-buttons .btn-small.btn-select.dt-button, .tablesaw-sortable th.tablesaw-sortable-head button.btn-small.btn-select, .sweet-alert button.btn-small.btn-select, .owl-theme .owl-nav .btn-small.btn-select[class*="owl-"], button.btn-small.btn-select.fc-agendaDay-button.fc-state-default.fc-corner-right,
button.btn-small.btn-select.fc-month-button.fc-state-default.fc-corner-left,
button.btn-small.btn-select.fc-agendaWeek-button, .btn-small.btn-select.fc-prev-button, .btn-small.btn-select.fc-next-button, .btn-small.btn-select.fc-today-button {
    padding-left: 20px;
    padding-right: 20px !important; }

.tablesaw-bar .btn-select::after {
    display: none; }

.tablesaw-enhanced .tablesaw-bar .btn:active, .tablesaw-enhanced .tablesaw-bar .wizard > .actions a:active, .wizard > .actions .tablesaw-enhanced .tablesaw-bar a:active, .tablesaw-enhanced .tablesaw-bar .dt-buttons .dt-button:active, .dt-buttons .tablesaw-enhanced .tablesaw-bar .dt-button:active, .tablesaw-enhanced .tablesaw-bar .tablesaw-sortable th.tablesaw-sortable-head button:active, .tablesaw-sortable th.tablesaw-sortable-head .tablesaw-enhanced .tablesaw-bar button:active, .tablesaw-enhanced .tablesaw-bar .sweet-alert button:active, .sweet-alert .tablesaw-enhanced .tablesaw-bar button:active, .tablesaw-enhanced .tablesaw-bar .owl-theme .owl-nav [class*="owl-"]:active, .owl-theme .owl-nav .tablesaw-enhanced .tablesaw-bar [class*="owl-"]:active, .tablesaw-enhanced .tablesaw-bar button.fc-agendaDay-button.fc-state-default.fc-corner-right:active,
.tablesaw-enhanced .tablesaw-bar button.fc-month-button.fc-state-default.fc-corner-left:active,
.tablesaw-enhanced .tablesaw-bar button.fc-agendaWeek-button:active, .tablesaw-enhanced .tablesaw-bar .fc-prev-button:active, .tablesaw-enhanced .tablesaw-bar .fc-next-button:active, .tablesaw-enhanced .tablesaw-bar .fc-today-button:active {
    background-image: none;
    box-shadow: none !important; }

.tablesaw-bar .btn select option, .tablesaw-bar .wizard > .actions a select option, .wizard > .actions .tablesaw-bar a select option, .tablesaw-bar .dt-buttons .dt-button select option, .dt-buttons .tablesaw-bar .dt-button select option, .tablesaw-bar .tablesaw-sortable th.tablesaw-sortable-head button select option, .tablesaw-sortable th.tablesaw-sortable-head .tablesaw-bar button select option, .tablesaw-bar .sweet-alert button select option, .sweet-alert .tablesaw-bar button select option, .tablesaw-bar .owl-theme .owl-nav [class*="owl-"] select option, .owl-theme .owl-nav .tablesaw-bar [class*="owl-"] select option, .tablesaw-bar button.fc-agendaDay-button.fc-state-default.fc-corner-right select option,
.tablesaw-bar button.fc-month-button.fc-state-default.fc-corner-left select option,
.tablesaw-bar button.fc-agendaWeek-button select option, .tablesaw-bar .fc-prev-button select option, .tablesaw-bar .fc-next-button select option, .tablesaw-bar .fc-today-button select option {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
